<h2>Here you can add a new joke:</h2>
<form method="POST" action="/storejoke">
    <input type="text" name="newJoke"/><button type="submit" name="Submit">Add Joke</button>
</form>
<a href="/">Back</a>